@charset "utf-8";
@font-face{
	font-family: myFirstFont;
	font-family: 'Lobster', cursive;
  	src: url("https://fonts.googleapis.com/css?family=Lobster");
}
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#app{
	color: white;
}

body{
    justify-content: center; /* Center horizontally */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    background-color: #e0e0e0; /* Background color */
	background-image: url(images/login_bg.png);
	background-position: center;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#content {
	margin-left: 250px;
	padding: 20px;
}

.nav-link {
	color: white;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

.nav-link.active {
	background-color: #0055FF;
}

.nav-link i {
	width: 20px;
}


#sidebar{
	width: 250px;
	height: 100%;
	background-color: black;
	min-height: 100vh;
	width: 250px;
	position: fixed;
	left: 0;
	top: 0;
	padding: 20px;
}


#profile_top{
	color: white;
	position: fixed;
		top: 20px;
		right: 20px;
		display: flex;
		align-items: center;
		z-index: 1000;
}

.icon-circle {
	width: 40px;
	height: 40px;
	background-color: #f0f4ff;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#welcome-banner {
	background-color: #0055FF;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 30px;
	position: fixed;
	width: 55%;
}

#friends{
	display: flex;
	justify-content: space-between;
	gap: 10px;
	/* width: ; */
}


#steps, #stepsTagline{
	font-family: Orbitron, sans-serif;
	font-size: x-small;
	display: block;
}



li{
	margin: 15px;
}


#nameheader
{
	display: flex;
	color: white;
}


#courseTable
{
    align-items: center; /* Center vertically */
}