@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* COMMON */
$primary-color:#040B31;

:root{
	--base-color: #dfdfdf;
	--opp-color:black;
	--sidebar-color:#040B31;
	--background-img: url('../images/background2.png');
	--login-bg: url('../images/login_bg_dark.png');
	--banner-colors:#f1f1f1;
	--headerText-color: black;
	--card-color:white;
    --button-color:#040B31;
	--topNav-color: white; 
	--table-colors: white;
	--placeholderText-color:rgb(152, 152, 152);
	--link: rgb(13, 110, 253);
}
.darkmode{
	--base-color: #171821;
	--opp-color:white;
	--sidebar-color:#15161c;
	--background-img: url('../images/dark_bg_img.png');
	--login-bg: url('../images/login_bg_dark.png');
	--banner-colors:#21222D;
	--headerText-color: white;
	--card-color:#21222D;
    --button-color: #2757fc;
	--topNav-color: #15161c; 
	--table-colors: 21222D;
	--placeholderText-color:rgb(152, 152, 152);
	--link: white;
}
#desktopMenuExpand, #desktopMenuMinimise{
	transition: transform .3s ease-in-out;
	&:hover {
		transform: rotate(180deg);
	}
}
#banner_name{
	font-weight: 600;
}
.steps h4 {
	margin-bottom: 25px;
	font-size: revert
}
#steps{
	font-family: "Orbitron", sans-serif;
}
.steps {
	color: black;
	font-family: "Orbitron", sans-serif;
	p{
		font-size: 13px;
	}
}

.login{
	p{
		font-size: 13px;
		color: #747686
	}
	h5 {
		font-size: 17px;
		color:black;
	}
}

#GoogleLoginBtn{
	background-color: white;
	padding: 5px 5x;
	border-radius: 10px;
}

.form-select, .form-control{
    background-color: var(--card-color) !important;
    color: var(--opp-color) !important;
}
#filterOptions{
    color: var(--opp-color) !important;
}
#searchInput::placeholder{
    color: var(--placeholderText-color) !important;
}
#tableModules {
    background-color: var(--card-color) !important;
}
tbody, td, tfoot, th, thead, tr{
	background-color: var(--table-colors) !important;
	color:var(--opp-color)!important;
}
td{
	border-bottom: 1px solid lightgrey !important;
}
th.text-body-tertiary{
	background-color: var(--table-colors) !important;
	color:var(--opp-color)!important;
	border-bottom: 1px solid lightgrey !important;
}
a.px-2.text-decoration-none{
	color:var(--link) !important;
}
.badge.rounded-pill.text-bg-danger{
	background-color: #fbd0d0 !important;
	color: #6c0909 !important;
	border: 1px solid #d67f7f !important;
}
.badge.rounded-pill.text-bg-success{
	background-color: #d9fbd0 !important;
	color: #1C6C09 !important;
	border: 1px solid #90d67f !important;
}
table a {
	text-decoration: none !important;
	color: var(--link) !important;
	&:hover {
		text-decoration: underline !important;
	}
}
html {
    height: 100%;
    margin: 0;
	background-color:var(--base-color);
}
.modal-title, .modal-body{
	color: var(--headerText-color)!important;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--base-color)!important;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

.cat-heading{
	color:var(--headerText-color);
}

.button-primary {
	background-color: var(--button-color);
	font-family: "Poppins", sans-serif;
	font-size:13px;
	color:white;
	padding: 8px 2px;
	border:0;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    &:hover {
        background-color: #0A1E4D;
    }
}
.btn-course {
    background-color: var(--button-color);
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    border: 0;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    &:hover {
        background-color: #0A1E4D;
    }
}

.index-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-image: var(--login-bg) !important;
}

#content {
	margin-top:65px;
	padding-left:40px !important;
	padding-right:40px !important;
}

// Theme Toggle Button
#theme{
	height:50px;
	width:50px;
	padding:0;
	border-radius: 50%;
	display: flex;
	justify-content:center;
	align-items: center;
	top: 20px;
	right:20px;
	transition: transform .5s ease;
	&:hover{
		transform: scale(1.2);
	}
    svg{
	    fill:var(--opp-color);
    }
    svg:last-child{
        display:none;
    }
}
.darkmode {
    #theme {
      svg:first-child {
        display: none;
      }
      svg:last-child {
        display: block;
      }
    }
  }

/*Top Navigation*/
.navbartop {
	padding: 10px 20px;
	position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
	left: 0;
    right: 0;
    top: 0;
    background-color: var(--topNav-color);
    transition: all 0.3s ease;
	z-index: 999; 

    button {
        background: transparent;
        border: none;
        color: var(--opp-color);
        font-size: 1.2rem;
        cursor: pointer;
    }
    &:hover {
        color: grey;
    }
    &focus {
        outline: none;
    }
}

profile-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#ProfileBtn {
	border: none;
	background: none;
	transition: transform .5s ease;
	&:hover{
		transform: scale(1.2);
	}
}
/* Side Navigation */
.nav-link {
	color: white;
	opacity: 0.5;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;

    &.active {
        background-color: white !important;
        color:$primary-color !important;
		margin: 0 0 0 !important;
        opacity:1;
		text-align: center;

    }
    &:not(.active):hover
	{
        color:#e4e4e4 !important;
        opacity:1;
    }

    i {
        width: 18px !important;
		height:16px !important;
    }
	i.fas {
		margin: 0;
		padding: 0;
	}
}
i.fas.fa-book::before{
	width: 18px !important;
	height:16px !important;
	display: inline-block;
	text-align: center;
}
// .icon-text{
// 	font-family: "Poppins", sans-serif;
// 	font-weight: 500;
// 	font-style: normal;
// 	font-size:16px;
// }

// .icon-text-wrapper {
//     display: inline-flex;
//     align-items: center; 
// }

li{
	margin: 15px;
}

#sidebar{
	height: 100%;
	background-color: var(--sidebar-color);
	z-index: 9999999;
	min-height: 100%;
	width: 280px;
	position: fixed;
	left: 0;
	top: 0;
	padding: 20px;
}

/* INDEX PAGE */

h4{
	margin-bottom: 40px;
	text-align:center;
}
.login-card{
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	transition: background-color 0.3s ease;
}

// Google Button
.google-button {
	background-color: #ffffff;
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	color: #333333;
	font-size: 14px;
	font-weight: 500;
	padding: 10px 20px;
	cursor: pointer;
	width: 100%;
	position: relative;
	border: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 0;
  
	.google-logo {
	  width: 20px;
	  height: 20px;
	  margin-right: 10px;
	}
  
	&:before {
	  content: '';
	  background: linear-gradient(45deg, #f4f4f4, #ededed, #c7c7c7, #a1a1a1);
	  position: absolute;
	  top: -2px;
	  left: -2px;
	  background-size: 400%;
	  z-index: -1;
	  filter: blur(5px);
	  width: calc(100% + 4px);
	  height: calc(100% + 4px);
	  animation: glowing 13s linear infinite;
	  opacity: 0;
	  transition: opacity .1s ease-in-out;
	  border-radius: 10px;
	}
  
	&:active {
	  color: #000;
	}
  
	&:active:after {
	  background: transparent;
	}
  
	&:hover:before {
	  opacity: 1;
	}
  
	&:after {
	  z-index: -1;
	  content: '';
	  position: absolute;
	  width: 100%;
	  height: 100%;
	  background: white;
	  left: 0;
	  top: 0;
	  border-radius: 10px;
	}
  }
  
  @keyframes glowing {
	0% {
	  background-position: 0 0;
	}
	50% {
	  background-position: 400% 0;
	}
	100% {
	  background-position: 0 0;
	}
  }
  
/* DASHBOARD PAGE*/
#app{
	color: white;
}

/* Profile */
#profile_top{
	color: black;
	display: flex;
	align-items: center;
	z-index: 1000;
	float:right;
}

.icon-circle {
	width: 40px;
	height: 40px;
	background-color: black;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#welcome-banner {
	color: var(--opp-color);
	background-color: var(--banner-colors);;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 30px;
}

.profile_name {
	color: var(	--opp-color);
	#nameheader
	{
		display: flex;
		color: var(	--opp-color);
	}
}

#courseTable
{
    align-items: center;
	line-height: 100%;
	font-size: 95%;
}
.text-center {
    text-align: center;
}


/* CARD */
.card-deck {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}
.card {
	flex: 1;
	border-radius: 20px !important;
	padding:12px 5px;
	background-color: var(--card-color) !important;
    color: var(--headerText-color) !important;
} 
.card-text{
	margin:20px 0;
}
.card-text2{
	display: flex;
	justify-content: space-between;
	padding-left: 16px;
	padding-right: 16px;
	color: var(--headerText-color) !important;
}
.card-title {
	font-size: 1.2rem;
	color: var(--headerText-color) !important;
}
.card-course-name{
	font-size: 1rem;
	color: var(--headerText-color) !important;
}
.card my-1{
	font-size: 1rem;
	color: var(--headerText-color) !important;
}
.btn-course-delete {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
	color:var(--opp-color);
    border-radius: 20px;
    border: 0;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
	float: right;
}
.carousel-inner{
	padding:1em;
}
.carousel-item {
	display: flex;
	justify-content: space-between;
    
    img {
        width: 100px;
        height: auto;
    }
}
.form-select{
	background-color: var(--card-color);
	color: black;
}

.form-label, .mb-3{
	color: var(--headerText-color)!important;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #252525 !important;
  width: 5vh !important;
  height: 5vh !important;
  border-radius: 50% !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  padding:10px !important;
}

.row.g-0 {
    display: flex;
    align-items: center;
	min-height: 200px;
}

.col-md-8 {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.col-md-4 {
    display: flex;
    justify-content: center; 
    align-items: center;
}

#viewMoreButton {
	margin-top: -50px;
}


/* Catalog Table */

.col-recom {
	white-space: nowrap;
	overflow: hidden; 
	text-overflow: ellipsis;
}

#tableModules {
    width: 100%;
	font-size: 95%;
    border-collapse: collapse;
	background-color: var(--card-color)!important;
    thead {
        display: table; 
        width: 100%;
        table-layout: fixed; 
    }
    tbody {
        display: block;
        max-height: 300px;
        overflow-y: auto; 
        width: 100%;
    }
    th, td {
        width: 14.285%;
        text-align: left;
        padding: 8px;
        box-sizing: border-box;
    }
	th
	{
        padding-top: 20px!important;
        padding-bottom: 20px!important;
	}
}

/* width */
::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

#userDetailsModalLabel{
	color: black;
}
#gpaInput::placeholder{
    color: var(--placeholderText-color) !important;
}

/* Planner Page */

#coursePlanner{
	padding-bottom: 20px;
	#plannerTable
	{
		th
		{
			z-index: 2;
		}
		th:first-child {
			position: sticky!important;
			left: 0;
			z-index: 3;
		}
		td:first-child {
			position:sticky!important;
			z-index: 1;
			left: 0;
			border-right: 1px solid #dee2e6;
			width: fit-content;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}
.card.my-1{
    border-color:var(--headerText-color) !important;
    padding:10px;
    margin-top: 20px !important;
    text-align: left !important;
    box-shadow: 0px 0px 5px #fff;
}

/* Toggle */
.switch {
	position: relative;
	display: inline-block;
	width: 90px;
	height: 34px;
	border-radius: 10px;
}
#viewToggle
{
	display: none;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #252525;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 20px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	border-radius: 10px;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #252525;
}

input:checked + .slider:before {
	-webkit-transform: translateX(55px);
	-ms-transform: translateX(55px);
	transform: translateX(55px);
}

.on
{
	display: none;
}

.on, .off
{
	color: white;
	position: absolute;
	transform: translate(10%,-50%);
	top: 50%;
	left: 50%;
	font-size: 10px;
	font-family: Verdana, sans-serif;
}

input:checked + .slider .on
{
	display: block;
	transform: translate(-60%,-50%);
}

input:checked + .slider .off
{
	display: none;
}

.error {
	color: red;
	font-size: 0.9em;
	display: none;
}

.logo-img {
	display: block;
    width:45px;
    height: auto; 
}

#header{
	padding:12px !important;
	margin:0 auto;
}

.modal-content
{
	background-color: var(--base-color)!important;
	color: var(--headerText-color)!important;
}
