@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* COMMON */
:root {
  --base-color: #dfdfdf;
  --opp-color:black;
  --sidebar-color:#040B31;
  --background-img: url("../images/background2.png");
  --login-bg: url("../images/login_bg_dark.png");
  --banner-colors:#f1f1f1;
  --headerText-color: black;
  --card-color:white;
  --button-color:#040B31;
  --topNav-color: white;
  --table-colors: white;
  --placeholderText-color:#989898;
  --link: #0d6efd;
  --plannerBox: #040B31;
  --subtitle: #525b75;
  --course-name: #525b75;
  --table-border:#cbd0dd8a;
  --btn-hover: #0D6EFD;
  --pill-background-success: #d9fbd0;
  --pill-color-success: #1C6C09;
  --pill-background-danger: #fbd0d0;
  --pill-color-danger: #6c0909;
}

.darkmode {
  --base-color: #171821;
  --opp-color:white;
  --sidebar-color:#15161c;
  --background-img: url("../images/dark_bg_img.png");
  --login-bg: url("../images/login_bg_dark.png");
  --banner-colors:#21222D;
  --headerText-color: white;
  --card-color:#21222D;
  --button-color: #2757fc;
  --topNav-color: #15161c;
  --table-colors: #21222D;
  --placeholderText-color:#999999;
  --link: white;
  --plannerBox: #2757fc;
  --subtitle: #8a94ad;
  --course-name: #e3e5ea;
  --table-border: #373e53c7;
  --btn-hover: #0000ff;
  --pill-background-success: #1D2527;
  --pill-color-success: #90d67f;
  --pill-background-danger: #271d1d;
  --pill-color-danger: #d58787;
}

html {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--base-color) !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

#header {
  padding: 12px;
  margin: 0 auto;
}

#content {
  margin-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.btn-close {
  color: white;
}

.btn-course-delete {
  font-size: 13px;
  color: var(--opp-color);
  border-radius: 20px;
  border: 0;
  text-decoration: none;
  float: right;
  transition: transform 0.5s ease;
}
.btn-course-delete:hover {
  transform: scale(1.2);
}

#searchBtn {
  height: 37px;
  margin-left: 10px;
}

.google-button {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  position: relative;
  border: 0 2px 4px rgba(0, 0, 0, 0.1019607843);
  z-index: 0;
}
.google-button .google-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.google-button:before {
  content: "";
  background: linear-gradient(45deg, #f4f4f4, #ededed, #c7c7c7, #a1a1a1);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 13s linear infinite;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  border-radius: 10px;
}
.google-button:active {
  color: #000;
}
.google-button:active:after {
  background: transparent;
}
.google-button:hover:before {
  opacity: 1;
}
.google-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 10px;
}

#GoogleLoginBtn {
  background-color: white;
  padding: 5px 5px;
  border-radius: 10px;
}

.btn-modal {
  padding: 8px 10px;
  background-color: var(--button-color) !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 13px !important;
  color: white !important;
  border: none;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: transform 0.5s ease;
}
.btn-modal:hover {
  transform: scale(1.02);
  background-color: var(--btn-hover) !important;
}

.btn-secondary {
  font-family: "Poppins", sans-serif !important;
  font-size: 13px !important;
}

.button-primary, .btn-primary, .btn-course {
  padding: 10px 30px;
  background-color: var(--button-color) !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 13px !important;
  color: white !important;
  border: none;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  transition: transform 0.5s ease;
}
.button-primary:hover, .btn-primary:hover, .btn-course:hover {
  transform: scale(1.02);
  background-color: var(--btn-hover) !important;
}

.btn-course {
  border-radius: 20px;
}

#desktopMenuExpand {
  transition: transform 0.3s ease-in-out;
}
#desktopMenuExpand:hover {
  transform: rotate(180deg);
}
#desktopMenuExpand svg {
  fill: var(--opp-color);
}

#desktopMenuMinimise {
  transition: transform 0.3s ease-in-out;
}
#desktopMenuMinimise svg {
  fill: var(--opp-color);
}
#desktopMenuMinimise:hover {
  animation: bounceLeft 0.5s ease-out;
}

.modal-title, .modal-body {
  color: var(--headerText-color);
  font-family: "Poppins", sans-serif;
}

.modal-header-border {
  border-bottom: solid 0 !important;
}

.modal-header {
  background-color: var(--sidebar-color);
}
.modal-header .modal-title {
  color: white;
}

.modal-content {
  color: var(--headerText-color);
}

.modal .modal-content {
  background-color: var(--card-color);
}

.modal-footer-border {
  border-top: solid 1px var(--table-border) !important;
}

#theme {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;
  transition: transform 0.5s ease;
}
#theme:hover {
  transform: scale(1.2);
}
#theme svg {
  fill: var(--opp-color);
}
#theme svg:last-child {
  display: none;
}

.darkmode #theme svg:first-child {
  display: none;
}
.darkmode #theme svg:last-child {
  display: block;
}

.steps h4 {
  margin-bottom: 25px;
  font-size: revert;
}

#steps {
  font-family: "Orbitron", sans-serif;
}

.steps {
  color: black;
  font-family: "Orbitron", sans-serif;
}
.steps p {
  font-size: 13px;
}

/*Top Navigation*/
.navbartop {
  padding: 10px 20px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--topNav-color);
  transition: all 0.3s ease;
  z-index: 999;
}
.navbartop button {
  background: transparent;
  border: none;
  color: var(--opp-color);
  font-size: 1.2rem;
  cursor: pointer;
}
.navbartop:hover {
  color: grey;
}
.navbartopfocus {
  outline: none;
}

profile-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

#ProfileBtn {
  border: none;
  background: none;
  transition: transform 0.5s ease;
}
#ProfileBtn:hover {
  transform: scale(1.2);
}

/* Side Navigation */
.nav-link {
  color: white;
  opacity: 0.5;
  margin-bottom: 5px;
  border-radius: 5px;
}
.nav-link.active {
  background-color: white;
  color: #040B31;
  opacity: 1;
  margin: 0 0 0;
  text-align: center;
}
.nav-link:not(.active):hover {
  color: #e4e4e4;
  opacity: 1;
}
.nav-link i {
  width: 18px;
  height: 16px;
}
.nav-link i.fas {
  margin: 0;
  padding: 0;
}

i.fas.fa-book::before {
  width: 18px;
  height: 16px;
  display: inline-block;
  text-align: center;
}

.icon-text {
  padding-left: 10px;
}

li {
  margin: 15px;
}

#sidebar {
  height: 100%;
  background-color: var(--sidebar-color);
  z-index: 9999999;
  min-height: 100%;
  width: 280px;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
}

/* Profile */
#profile_top {
  color: black;
  display: flex;
  align-items: center;
  z-index: 1000;
  float: right;
}

.profile_name {
  color: var(--opp-color);
}
.profile_name #nameheader {
  display: flex;
  color: var(--opp-color);
}

.icon-circle {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  color: white;
}

#welcome-banner {
  color: var(--opp-color);
  border-radius: 10px;
}
#welcome-banner h5 {
  font-weight: 700;
  font-size: calc(1.3203125rem + 0.84375vw);
}
#welcome-banner p {
  color: var(--subtitle);
}

.cat-heading {
  color: var(--headerText-color);
  font-weight: 600;
  padding-left: 15px;
}

.subtitle {
  color: var(--subtitle);
}

.banner_bg {
  background-color: var(--banner-colors);
  padding: 20px;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

/* INDEX PAGE */
h4 {
  margin-bottom: 40px;
  text-align: center;
}

body.index-container {
  background-color: #171821;
}

.index-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-image: var(--login-bg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.index-container .login-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.index-container .login p {
  font-size: 13px;
  color: #747686;
}
.index-container .login h5 {
  font-size: 17px;
  color: black;
}

/* CARD */
.plannerCard h3 {
  font-weight: 600;
}
.plannerCard h5 {
  font-weight: 650;
}

.card-deck {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.card {
  flex: 1;
  border-radius: 20px !important;
  padding: 12px 5px;
  background-color: var(--card-color) !important;
  color: var(--headerText-color);
}

.card-text {
  margin: 20px 0;
}

.card-text2 {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0;
  color: var(--headerText-color);
}

.card-title {
  font-size: 1.2rem;
  color: var(--headerText-color);
}

.card-course-name {
  font-size: 1rem;
  color: var(--headerText-color);
}

.innerPlanner {
  color: var(--course-name);
  padding: 10px;
  margin-top: 20px;
  text-align: left;
  box-shadow: 0px 0px 5px #fff;
}

.form-select {
  background-color: var(--card-color) !important;
  color: var(--opp-color) !important;
}

.form-label, .mb-3 {
  color: var(--headerText-color);
}

#filter-search .form-select,
#filter-search .form-control {
  color: var(--opp-color) !important;
}

.form-control-input {
  background-color: var(--card-color) !important;
  color: var(--opp-color) !important;
}

#filterOptions {
  color: var(--opp-color);
}

#searchInput {
  background-color: var(--card-color);
}

#searchInput::-moz-placeholder {
  color: var(--placeholderText-color);
}

#searchInput::placeholder {
  color: var(--placeholderText-color);
}

.carousel-inner {
  padding: 1em;
}

.carousel-item {
  display: flex;
  justify-content: space-between;
}

.carousel-item img {
  width: 100px;
  height: auto;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #252525;
  padding: 10px;
  top: 50%;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  transform: translateY(-50%);
}

#enrolledCarousel .carousel-control-prev,
#enrolledCarousel .carousel-control-next,
#plannedCarousel .carousel-control-prev,
#plannedCarousel .carousel-control-next,
#recommendedCarousel .carousel-control-prev,
#recommendedCarousel .carousel-control-next,
#completedCarousel .carousel-control-prev,
#completedCarousel .carousel-control-next {
  background-color: #252525;
  width: 5vh;
  height: 5vh;
  top: 50%;
  padding: 10px;
  transform: translateY(-50%);
  border-radius: 50%;
}

.row.g-0 {
  display: flex;
  align-items: center;
}

.col-md-8 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-recom {
  white-space: nowrap;
}

#coursePlanner {
  border-radius: 10px;
}

#plannerTable {
  width: 100%;
  font-size: 95%;
  border-collapse: collapse;
  background-color: var(--card-color);
  border-bottom: 1px solid var(--table-border);
}
#plannerTable thead {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  table-layout: fixed;
}
#plannerTable tbody {
  overflow-y: auto;
  max-height: 60vh;
  overflow-y: auto;
}
#plannerTable th, #plannerTable td {
  padding: 8px;
  text-align: left;
  box-sizing: border-box;
}
#plannerTable th {
  padding-top: 20px;
  padding-bottom: 20px;
}
#plannerTable td {
  padding: 20px 8px;
}

.custom-table > :not(caption) > * > * {
  background-color: var(--table-colors);
  color: var(--opp-color) !important;
}

#plannerTable thead th, #plannerTable tbody td {
  background-color: var(--table-colors);
}

#courseTable {
  border-radius: 10px;
  flex-grow: 1;
  height: 300px;
  width: 100%;
  overflow-y: auto;
  align-items: center;
  line-height: 100%;
  font-size: 95%;
}
#courseTable #tableModules {
  width: 100%;
  font-size: 95%;
  border-collapse: collapse;
  border-bottom: 1px solid var(--table-border);
}
#courseTable #tableModules thead {
  position: sticky;
  top: -2px;
  width: 100%;
  table-layout: fixed;
  z-index: 3;
}
#courseTable #tableModules tbody {
  overflow-y: auto;
  max-height: 60vh;
  overflow-y: auto;
  z-index: 1;
}
#courseTable #tableModules th, #courseTable #tableModules td {
  padding: 8px;
  text-align: left;
  box-sizing: border-box;
}
#courseTable #tableModules th {
  padding-top: 20px;
  padding-bottom: 20px;
  width: -moz-fit-content;
  width: fit-content;
}
#courseTable #tableModules td {
  padding: 20px 8px;
}

table a {
  text-decoration: none;
  color: var(--link);
}
table a:hover {
  text-decoration: underline;
}

a.px-2.text-decoration-none {
  color: var(--link);
}

.custom-success-badge {
  background-color: var(--pill-background-success);
  color: var(--pill-color-success);
  border: 1px solid #90d67f;
  font-weight: 550;
  padding: 5px 10px;
}

.custom-danger-badge {
  background-color: var(--pill-background-danger);
  color: var(--pill-color-danger);
  border: 1px solid #d67f7f;
  font-weight: 550;
  padding: 5px 10px;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

#gpaInput::-moz-placeholder {
  color: var(--placeholderText-color);
}

#gpaInput::placeholder {
  color: var(--placeholderText-color);
}

/* Planner Page */
#coursePlanner {
  padding-bottom: 20px;
  width: 100%;
}
#coursePlanner #plannerTable {
  width: 100%;
}
#coursePlanner #plannerTable th:first-child {
  left: 0;
}
#coursePlanner #plannerTable td:first-child {
  left: 0;
  border-right: 1px solid var(--table-border);
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  overflow: hidden;
}
#coursePlanner .plannerbox {
  background-color: var(--plannerBox);
  border-radius: 10px;
  width: 60px;
  height: 24px;
}
#coursePlanner .emptybox {
  width: 60px;
  height: 24px;
}

/* Toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
  border-radius: 10px;
}

#viewToggle {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--opp-color);
  transition: 0.4s;
  border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--base-color);
  border-radius: 10px;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--btn-hover);
}

input:checked + .slider:before {
  transform: translateX(55px);
}

.on {
  display: none;
}

.on, .off {
  color: var(--base-color);
  position: absolute;
  transform: translate(10%, -50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

.on {
  color: white;
}

input:checked + .slider .on {
  display: block;
  transform: translate(-60%, -50%);
}

input:checked + .slider .off {
  display: none;
}

.error {
  color: red;
  font-size: 0.9em;
  display: none;
}

.logo-img {
  display: block;
  width: 45px;
  height: auto;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  /* Tooltip arrow */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.custom-tooltip {
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  position: fixed;
  z-index: 1000;
  opacity: 0.9;
  white-space: nowrap;
}

@keyframes bounceLeft {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}/*# sourceMappingURL=style.css.map */